<div>
  <button  onclick="document.getElementById('fileInput').click()">Select a photo</button>
  <input style="visibility:hidden;" (change)="readDataUrl($event)" #fileInput type="file" id="fileInput"
  name="fileInput" accept="image/*" />
</div>

  <div>
    Grid dretector
  </div>
  <div>
    <button (click)="test()">Detect grid</button>
  </div>
  
  <canvas #canvasInput id="canvasInput" height="300" width="400" ></canvas>
  <canvas #canvasInput id="canvasTest1" height="300" width="400" ></canvas>
  <canvas #canvasInput id="canvasTest" height="300" width="400" ></canvas>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>
